# object files created by rgbds
*.o
# contains 2 bit per pixel image data
*.2bpp
# contains tilemap data
*.tilemap
# Gameboy Color ROM
*.gbc
# Gameboy ROM
*.gb
# Symbol file containing debug information such as label addresses
*.sym
